@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .stream {
    display: block !important;
  }
}

.modal-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 578px;
  max-width: 100%;
  margin: 0 20px;
}
